<!--algo-->

<div class="media col-8 mt-2 border border-primary align-items-center ">
    <a class="media-left" href="#">
    <img class="rounded-circle" src="https://picsum.photos/50/50?image={{producto.id}}" alt="">
    </a>
   
    
    <div class="media-body ">
    <h5 class="nombre">{{producto.nombre}}</h5>
    <h6 class="marca">{{producto.marca}} </h6>
    <p class="precio">{{producto.precio}} </p>
    <p class="categoria">{{producto.categoria}} </p>
    <p class="existencia">{{producto.existencia}} </p>
    </div>